


.score-container {
  display: grid;
  grid-template-areas: 
    'g1 g2 space space space'
    'r1 r2 space space space';
  background-color: #2196F3;
  padding: 0vw 10vw 0vw 10vw;
}

.g1 { grid-area: g1; }
.g2 { grid-area: g2; }
.space { grid-area: space; }
.r1 { grid-area: r1;
      text-align: left; }
.r2 { text-align: r2; 
     
}

.h1 {
  color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #2196F3;
  padding: 2vw 10vw 10vw 10vw;
  row-gap: 10vw;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.stack {
  display: grid;
  Justify-content: center;
} 
.flip-card {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; /* For some reason setting visibility for front card stopped working*/
  transition: transform 10s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
  perspective: 100px; /* Remove this if you don't want the 3D effect */
  justify-content: center;
}

.flip-card2 {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden; /* For some reason setting visibility for front card stopped working*/
  transition: transform 10s;
  transform-style: preserve-3d;
  transform: rotateY(360deg);
  perspective: 100px; /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  display: flex;
  position: absolute;
  width: 15vw;
  height: 6vw;
  /*align-self: center;*/
  /*width: 3.5vw;*/
  
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  display: flex;
  position: absolute;
  width:15vw;
  height: 5vw;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  border: 0.5vw solid black;
  font-size:400%;
  padding-top: 0.5vw;
}

/* Style the back side Ironically this is the side of the card with the picture, usually known as the front!*/
.flip-card-back {
  transform: rotateY(180deg);
  transition: transform 10s;
  background-color: aqua;
} 

.flip-card-front{
background-color: aliceblue;
}